ul {
	list-style-type: circle;
	padding-bottom: 15px;
}

li {
	padding-bottom: 5px;
}

h1 {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background: #800000;
		background-attachment: fixed;
	overflow-x: hidden;
	width: 25%;
	height: 100%;
	text-align: center;
		font: 2em/1 Courier, serif;
		color: #B2FF9E;
}

.photo {
	border-radius: 50%;
	border: 4px solid #2B2118;
	width: 40%

}

.side_nav {
	padding-top: 60%;

}

.side_nav a {
	display: block;
	color: #F7F3E3;
	text-decoration: none;
} 


.side_nav a:hover {
	background-color: #F7F3E3;
	color: #2B2118;
} 

h2 {
	float: right;
	width: 75%;
	height: 100%;
	background: #F7F3E3;
}
.right_side {
	font: 2em/2 Courier New, serif;

}

.right_side_header {
	font: bold 3em/2 Courier, serif;
		color: #2B2118; 
		text-align: center;
}

.right_side_text {
	font: 2em/2 Courier New, serif;
		color: #2B2118; 
		text-align: center;
}

.right_side_link {
	color: #2B2118;
	text-decoration: none;
}

.right_side_link:hover {
	text-decoration: underline;
} 

.right_side_resume_company {
	font: 2em/1.5 Courier New, serif;
		color: #2B2118; 
		text-align: left;
	border-top: 2px solid #2B2118;
	margin-left: 5%;
	margin-right: 20px;
	padding-top: 5px
	/*padding-left: 5%;
	padding-right: 5%;*/
}

.right_side_resume_job {
	font: 1.5em/1.5 Courier New, serif;
		color: #2B2118; 
		text-align: left;
	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 1%
}

.right_side_resume_detail {
	font: 1.25em/1.25 Courier New, serif;
		color: #2B2118; 
		text-align: left;
	padding-left: 7%;
	padding-right: 5%;
}


#intro {
	font: bold 4em/2 Courier, serif;
		color: #2B2118; 
		text-align: center;
	padding-top: 8%;
	padding-bottom: 7%
}

#professional_photo {
	padding-top: 60px;
}

#about_header {
		padding-bottom: 5%
}

#about_text {
	padding-left: 10%;
	padding-right: 10%;
	padding-bottom: 30%
}

#resume_skills {
	padding-left: 7%;
}

#resume_text {
	padding-left: 10%;
	padding-right: 10%;
}

#contact_header {
	margin-top: 10%;
}

#contact_links {
	padding-bottom: 10%;
}

body {
	background: #F7F3E3;
}

        